.cardhelp{
    background-color: white;
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main1{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/331/442/small/watercolor-peach-brown-background-for-paper-design-vector.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow:auto;
    overflow-y: auto;
}
.head1{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 40px;
    color: peachpuff;
}
.b3{
    background-color:white;
    color: black;
    font-family: "Roboto";
    font-size: 20px;
    flex-grow: auto;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}
.hr{
    height:2px;
    border-width:10px;
    color:gray;
    background-color:"gray";
}